:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 22px;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

